:root {
    --CozyBackground: #ffe3e3;
    --HeaderBackground: #ffafaf;
    --HeaderText: #fff;
    --PostTitle: #ff8c8c;
    --MetadataText: #ffcccc;
    --TextColor: #333333;
    --LinkColor: #ff8c8c;
    --FooterBackground: #ffafaf;
    --FooterText: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--CozyBackground); /* Cozy background color */
    color: var(--TextColor); /* Text color */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px;
    background-color: var(--HeaderBackground); /* Header background color */
    color: var(--HeaderText); /* Header text color */
}

.logo {
    height: 60px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

h1, p {
    margin: 5px 0;
}

h2 {
    color: var(--TextColor); /* Post title color */
}

.metadata {
    font-style: italic;
    color: var(--PostTitle); /* Metadata text color */
}

a {
    color: var(--LinkColor); /* Link color */
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--FooterBackground); /* Footer background color */
    color: var(--FooterText); /* Footer text color */
}
